<%= form_with(model: user, data: { turbo: true }) do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <label for="role">Role</label>
    <%= select_tag :role, options_for_select([['Admin', 'adm'], ['Member', 'mem'], ['Viewer', 'vwr']], 'mem'), class: 'form-control', id: 'role' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :active %>
    <%= f.check_box :active, class: 'form-check-input ms-2' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', users_path, class: 'btn btn-secondary ms-2' %>
  </div>
<% end %>

