<!DOCTYPE html>
<html>
<head>
  <title>Rails Starter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
  <!-- Select2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  
  <!-- DateRangePicker CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" />
  
  <!-- Turbo -->
  <%= javascript_include_tag "turbo", type: "module" %>
  
  <!-- Application JavaScript -->
  <%= javascript_include_tag "application", type: "module" %>
</head>

<body>
  <%= render 'layouts/header' %>
  
  <div class="container mt-4">
    <div id="flash_messages">
      <%= render 'layouts/flash_messages' %>
    </div>
    
    <main class="main-content">
      <%= yield %>
    </main>
  </div>
  
  <%= render 'layouts/footer' %>
</body>
</html>

